html {
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  background: #031019;
  color: #3A3A3A;
}

body>* {
  flex-grow: 1;
}

body *{
  flex-shrink: 0;
}

body section, body footer {
  /* border: 2px solid black; */
}

body section section, body footer section {
  border: 2px solid red;
}

/* Start hero styles here. */

.portfolio-hero {
  flex-basis: 450px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  background: url("./assets/backgrounds/space.png");
}

.me-info {
  flex-basis: 250px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-container {
  flex-basis: 90%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.me-photo {
  flex-basis: 120px;
  height: 120px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.me-photo img{
  max-height: 100%;
  border-radius: 4px;
}

.me-text {
  box-sizing: border-box;
  padding: 10px;
  flex-basis: 150px;
  max-height: 160px;
  background: rgba(208, 212, 213, .9);
  border-radius: 5px;
}

.me-text h2 {
  margin: .5em 0;
}

.me-text p {
  font-size: .8em;
}

.portfolio-projects {
  flex-basis: 180px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background: rgba(23, 34, 36, .8);
}

.portfolio-item {
  flex-basis: 150px;
  flex-grow: 1;
  margin: 4px;
  background-size: cover;
  border-radius: 6px;
}

.img-01 {
  background-image: url("./assets/images/one-list.png");
}

.img-02 {
  background-image: url("./assets/images/bomb-sniffer.png");
}

.img-03 {
  background-image: url("./assets/images/make-it-rain.png");
}

.img-04 {
  background-image: url("./assets/images/sensei-sense.png");
}

/* Start blog styles here */
.blogs {
  flex-basis: 300px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4px;
}

.blog-1, .blog-2 {
  flex-basis: 25px;
  flex-grow: 1;
  max-height: 140px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-1 {
  background: url("./assets/backgrounds/react.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 140%;
}

.blog-2 {
  background: url("./assets/backgrounds/code.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 140%;
}

.preview-content {
  flex-basis: 50px;
  flex-grow: 1;
  max-height: 80px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.blog-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Resetting the margins */
.blog-title, .blog-date, .blog-content {
  margin: 0;
}

.blog-title {
  margin: 0px 10px 0px 0px;
}

.blog-date {
  font-size: 12px;
}

.blog-content {
  font-size: .8em;
}

/* Start footer styles here */

.footer {
  flex-basis: 120px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #F6F5F5;
}

.social {
  flex-basis: 86px;
  flex-grow: 1;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

.social-message {
  text-align: center;
  margin: 8px 0;
  font-weight: bold;
}

.icons {
  /* flex-basis: 100px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon {
  /* border: 3px solid green; */
  border-radius: 1000px;
  flex-basis: 50px;
  height: 50px;
  overflow: hidden;
}

.social-icon img {
  max-width: 100%;
}

.attribution {
  flex-basis: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.attribution p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .me-container {
    flex-basis: 60%;
    height: 200px;
  }

  .me-photo {
    height: 80%;
    flex-basis: 160px;
  }

  .me-text {
    flex-basis: 250px;
    max-height: 120px;
  }
  
  .portfolio-item {
    background-position: center center;
  }

  .blog-1, .blog-2 {
    max-height: 140px;
    background-position: 50% 65%;
  }

  .preview-content {
    max-height: 60px;
  }

  .icons {
    flex-basis: 150px;
    flex-shrink: 1;
    padding: 0 120px;
  }

  .social-icon {
    flex-basis: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .me-container {
    height: 300px;
  }

  .me-photo {
    flex-basis: 240px;
  }

  .me-text {
    flex-basis: 320px;
    height: 120px;
  }

  .blog-1, .blog-2 {
    max-height: 180px;
  }

  .icons {
    padding: 0 160px;
  }

  .social {
    max-height: unset;
  }

  .social-message {
    font-size: 2em;
    margin: 16px 0;
  }

  .social-icon {
    flex-basis: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 1366px) {
  .portfolio-hero {
    flex-basis: 400px;
  }

  .me-container {
    height: 200px;
    flex-basis: 50%;
    justify-content: space-around;
  }

  .me-photo {
    height: 90%;
    flex-basis: 180px;
  }

  .me-text {
    height: 100px;
  }

  .portfolio-projects {
    flex-basis: 60px;
    padding: 0 250px;
  }

  .blogs {
    flex-basis: 300px;
    padding: 1% 15%;
  }

  .blog-1, .blog-2 {
    margin-bottom: 10px;
  }

  .footer {
    flex-basis: unset;
  }

  .social {
    flex-basis: unset;
  }
}
